<%= render :partial => "form_search" %>


<div class="accordion" id="accordion2">
<% @studies.each_with_index do |study,index| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= get_dicom(study,"AccessionNumber") %>">
        MRN:<%= get_dicom(study,"PatientID") %> ACC: <%= get_dicom(study,"AccessionNumber") %>
      </a>
    </div>
    <div id="<%= get_dicom(study,"AccessionNumber") %>" class="accordion-body collapse">
      <div class="accordion-inner">

<p> <strong>fhir:</strong> </p>
<pre>
{
  "resourceType": "ImagingStudy",
  "text": {
    "status": "generated",
    "div": "<%= get_dicom(study,'StudyDescription') %>"
  },
  "dateTime": "<%= get_dicom(study,'StudyDate') %> <%= get_dicom(study,'StudyTime') %>",
  "subject": {
    "reference": "Patient/dicom"
  },
  "uid": "urn:oid:<%= get_dicom(study,'StudyInstanceUID') %>",
  "numberOfSeries": "<%= get_dicom(study,'NumberOfStudyRelatedSeries') %>",
  "numberOfInstances": "<%= get_dicom(study,'NumberOfStudyRelatedInstances') %>"
}
</pre>
<p> <strong>dicom:</strong> </p>
<table class="table table-striped">
    <% study.each do |s| %>
	<tr><td><%= Dicom.tag_to_name(s[0]) %> </td><td> <%= get_dicom_by_tag(study,s[0]) %> </td></tr>
	<% end %>
</table>
      </div>
    </div>
  </div>

<% end %>

</div>

<form id="bulk-form" method="post" action="send_fhir">
<div>
  <textarea name="json" style="width:80%; height:400px" placeholder="Enter a json message to send to FHIR"></textarea>
</div>
<div>
<button id="bulk-export-btn" type="submit" class="btn">Send</button>
</div>
</form>
